@import "../../style/themes/default";
@import "../../style/mixins/index";
@import "../../button/style/mixin";
@import "./mixin";

.@{rubix-prefix}-search-input-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.@{rubix-prefix}-search-input {
  &.@{rubix-prefix}-input-group .@{rubix-prefix}-input:first-child,
  &.@{rubix-prefix}-input-group .@{rubix-prefix}-select:first-child {
    border-radius: @border-radius-base;
    position: absolute;
    top: -1px;
    width: 100%;
  }

  &.@{rubix-prefix}-input-group .@{rubix-prefix}-input:first-child {
    padding-right: 36px;
  }

  .@{rubix-prefix}-search-btn {
    .btn-default;
    border-radius: 0 @border-radius-base - 1 @border-radius-base - 1 0;
    left: -1px;
    position: relative;
    border-width: 0 0 0 1px;
    z-index: 2;
    padding-left: 8px;
    padding-right: 8px;
    &:hover {
      border-color: @border-color-base;
    }
    form & {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
  &&-focus .@{rubix-prefix}-search-btn-noempty,
  &:hover .@{rubix-prefix}-search-btn-noempty {
    .btn-primary;
  }
  .@{rubix-prefix}-select-combobox {
    .@{rubix-prefix}-select-selection__rendered {
      right: 29px;
    }
  }
}
